{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %} <!-- hidden tag CRSF token or cross-site request forgery protects against certain attacks -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h3>Do you want to delete the post selected "{{ object.title }}</h3>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Confirm Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel, Go back!!</a>
            </div>
        </form>
    </div>
{% endblock content %}